# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 01 Docker
/01-docker-terraform/ny_taxi_postgres_data
/01-docker-terraform/pgadmin
/01-docker-terraform/.ipynb_checkpoints
/01-docker-terraform/yellow_tripdata_2019-01.csv.gz
/01-docker-terraform/green_tripdata_2019-10.csv.gz

# 02 Orchestration
/02-workflow-orchestration/ny_taxi_postgres_data
/02-workflow-orchestration/pgadmin

# 03 Dataware House
/03-data-warehouse/tlc_trip
/03-data-warehouse/**/*.toml
/03-data-warehouse/.env

# 04 Analytics engineering
/04-analytics-engineering/ny_taxi_postgres_data
/04-analytics-engineering/pgadmin

# 05-batch
/05-batch/code/.ipynb_checkpoints
/05-batch/code/tmp/
/05-batch/code/data/
/05-batch/code/fhvhv/
/05-batch/code/zones
/05-batch/code/fhvhv_tripdata_2021-01.csv.gz
/05-batch/code/taxi_zone_lookup.csv
/05-batch/code/yellow_tripdata_2024-10_partitioned.parquet
/05-batch/code/yellow_tripdata_2024-10.parquet


# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site
